:root{
	--main-color: #000d42;
	--second-color: #000829;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font: 700 25px monospace;
	color: var(--main-color);
}

html,body,main{
	height: 100vh;
	background-color: #adbfd0;
	box-shadow: inset 0 0 150px white;
}

h1,h2,h3,h4,h5,h6,p{
	pointer-events: none;
	user-select: none;
}

.ahorcado , .ahorcado>section{
	display: grid;
	place-items: center;
}

.ahorcado>h1{
	font-size: 2em;
	letter-spacing: 12px;
	position: relative;
	text-shadow: 0px 0px 1px white , 0px 0px 2px white , 0px 0px 3px white,
				 0px 0px 4px white , 0px 0px 5px white , 0px 0px 6px white;
}

.mostradorWord{
	display: flex;
	gap: 12px;
	margin-block: 32px;
}

.letraTabla{
	width: 32px;
	text-align: center;
	text-transform: uppercase;
	border-bottom:4px solid var(--main-color);
}

.teclado
{
	display: grid;
	grid-template-columns: repeat(11 , 1fr);
	gap: 5px;

	width: 500px;
}

.teclado button{
	text-transform: uppercase;
	background-color: transparent;
	border: 1px solid var(--main-color);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow:inset 0 0 2px var(--main-color) , 1px 1px 4px #00000090;
}

.teclado button:hover{
	box-shadow: inset 0 0 4px var(--main-color) , 1px 1px 4px #000000c0;
}

.teclado button:active{
	box-shadow: inset 0 0 2px var(--second-color) , 1px 1px 4px #00000090;
}

.teclado button:last-child{
	border-color: green;
	box-shadow: inset 0 0 10px lightgreen , 1px 1px 4px #00000090;
	background: url("../pictures/Restart_32px.png") no-repeat;
	background-position: 60% 5%;
}

.teclado button:last-child:hover{
	box-shadow: inset 0 0 4px green , 1px 1px 4px #000000c0;
}

.teclado button:last-child:active{
	box-shadow: inset 0 0 10px lightgreen , 1px 1px 4px #00000090;
}

#fallos{
	color: red;
	font-size: 3em;
}

.resultado h3{
	font-size: 1.2em;
	text-align: center;
	text-shadow: 0px 0px 1px white , 0px 0px 2px white , 0px 0px 3px white;
}

#botonInicio{
	border: 1px solid var(--main-color);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	padding: 4px;
	background-color: #00000010;
	text-shadow: 0px 0px 1px white , 0px 0px 2px white , 0px 0px 3px white;
	box-shadow: 1px 1px 8px #000000b4;
}

#botonInicio:hover{
	background-color: #00000025;
	box-shadow: 2px 2px 8px #000000b4;
}

#botonInicio:active{
	background-color: #00000010;
	box-shadow: 1px 1px 8px #000000b4;
}

@media only screen and (max-width:540px){
	*{
		font-size: 10px;
	}
	.teclado , .mostradorWord{
		max-width: 100vw;
		overflow: scroll;
	}
	.teclado{
		column-gap: 5px;
		width: 90vw;
	}
	.teclado button{
		line-height: 20px;
	}
	.teclado button:last-child{
		background: none;
	}
	.teclado button:last-child::after{
		content: "RS";
		color: green;
	}
	.letraTabla{
		width: 3.5vw;
		text-align: center;
	}
}
